<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="about.css" type="text/css">
    <title>About</title>
</head>

<body>

    <div class="hero">

        <div class="big-text">
            Te-ai saturat sa nu poti transfera fisiere de dimensiuni mai mari? <br><br>Esti in criza de timp si nu ai idee ce sa faci? <br><br> Big John si Maceta F au gasit solutia!
        </div>
        <div class="big-btn">
            <button class="btn" onclick="redirectBtn()">CONTINUE WITH LOG IN</button>
        </div>

    </div>
    <script src="about.js">
    </script>
</body>