<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="account.css" type="text/css">
    <link rel="stylesheet" href="home.css" type="text/css">
    <title>STOL</title>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <div class="title">
            STOL
        </div>

        <a href="/home" class="active">Home</a>
        <a href="/account">My account</a>
        <a href="">Log out</a>


        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

    </div>

    <script src="home.js">
    </script>

    <div>
        <h1>Bine ai venit, Florin!</h1>
    </div>
    <div class="list-type4">
        <ul>
            <li><button type="button" class="btn" onclick="loginGD()">GOOGLE DRIVE</button></li>
            <li><button type="button" class="btn" onclick="loginOD()">ONE DRIVE</button></li>
            <li><button type="button" class="btn" onclick="loginDB()">DROP BOX</button></li>
        </ul>
    </div>
    <script src="authorizeUser.js">
    </script>
    <script src="account.js">
    </script>
    <script src="home.js">
    </script>
</body>

</html>