<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="home.css" type="text/css">
    <title>STOL</title>
</head>

<body>
    <div>
     <div class="topnav" id="myTopnav">
        <div class="title">
            STOL
        </div>
       
        <a href="/home" class="active">Home</a>
        <a href="/account">My account</a>
        <a href="">Log out</a>
        
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    
     </div>
     
        <div>
            <h1 class="paragraph">Bine ai venit, Florin!</h1>
        </div>


     <div class="despartitor">

        <button type="submit" class="upload-btn">UPLOAD FILE</button>

     </div>
    <div class="vl"></div>
    <script src="home.js">
    </script>
 </div>
</body>

</html>
